@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?im406i');
  src:  url('fonts/icomoon.eot?im406i#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?im406i') format('truetype'),
    url('fonts/icomoon.woff?im406i') format('woff'),
    url('fonts/icomoon.svg?im406i#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Alert:before {
  content: "\e900";
}
.icon-Arrow-Left:before {
  content: "\e901";
}
.icon-Arrow:before {
  content: "\e902";
}
.icon-backspace:before {
  content: "\e903";
}
.icon-Bookmark:before {
  content: "\e904";
}
.icon-briefcase:before {
  content: "\e905";
}
.icon-cake:before {
  content: "\e906";
}
.icon-chat:before {
  content: "\e907";
}
.icon-chevron-up:before {
  content: "\e908";
}
.icon-color-swatch:before {
  content: "\e909";
}
.icon-document-duplicate:before {
  content: "\e90a";
}
.icon-Dots-Vertical:before {
  content: "\e90b";
}
.icon-facebook-1:before {
  content: "\e90c";
}
.icon-group-1:before {
  content: "\e90d";
}
.icon-information-circle:before {
  content: "\e90e";
}
.icon-instagram-1:before {
  content: "\e90f";
}
.icon-Like:before {
  content: "\e910";
}
.icon-location-marker:before {
  content: "\e911";
}
.icon-logout:before {
  content: "\e912";
}
.icon-menu:before {
  content: "\e913";
}
.icon-paper-airplane:before {
  content: "\e914";
}
.icon-Profile:before {
  content: "\e915";
}
.icon-search:before {
  content: "\e916";
}
.icon-settings-cog-1:before {
  content: "\e917";
}
.icon-share:before {
  content: "\e918";
}
.icon-telegram-1:before {
  content: "\e919";
}
.icon-twitter-1:before {
  content: "\e91a";
}
